{% load static %}
<footer class="bg-overlay-1 bg-black">
    <div class="footer-upper pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 order-2 order-lg-1">
                    <div class="footer-content-list footer-content-item">
                        <div class="footer-content-title">
                            <h3>صفحات ما</h3>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap desk-pad-right-30">
                            <ul class="footer-details footer-list">
                                <li><a href="about-us.html">درباره ما</a></li>
                                <li><a href="blogs-grid-without-sidebar.html">وبلاگ</a></li>
                                <li><a href="faqs.html">پرسش و پاسخ</a></li>
                                <li><a href="reservation.html">رزرو</a></li>
                                <li><a href="contact-us.html">تماس با ما</a></li>
                                <li><a href="cart.html">سبد خرید</a></li>
                            </ul>
                            <ul class="footer-details footer-list">
                                <li><a href="our-team.html">تیم ما</a></li>
                                <li><a href="wishlist.html">علاقه مندی ها</a></li>
                                <li><a href="privacy-policy.html">مشاهده قوانین سایت</a></li>
                                <li><a href="terms-conditions.html">حریم خصوصی</a></li>
                                <li><a href="services.html">خدمات</a></li>
                                <li><a href="my-account.html">پنل کاربری</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-lg-2">
                    <div class="footer-content-item text-start text-lg-center">
                        <div class="footer-logo">
                            <a href="index-2.html"><img src="{% static 'images/logo1.png' %}" alt="logo"></a>
                        </div>
                        <ul class="footer-details footer-address">
                            <li>ورامین ، خیابان شهدا، کافه به لیمو</li>
                            <li><span>شماره رزرو</span><a href="tel:001-964-565-87652">09393926303</a></li>
                            <li><span>آدرس ایمیل:</span><a href="http://hezarpart.ir/cdn-cgi/l/email-protection#1f777a7373705f797e7970317c7072"><span class="__cf_email__" data-cfemail="59313c353536193f383f36773a3634">[email&#160;protected]</span></a></li>
                        </ul>
                        <div class="footer-follow">
                            <p>مارا پیگیری کنید</p>
                            <ul class="social-list social-list-white">
                                <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                                <li><a href="#"><i class="flaticon-youtube"></i></a></li>
                                <li><a href="#"><i class="flaticon-instagram-1"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 order-3">
                    <div class="footer-content-list footer-content-item desk-pad-left-30">
                        <div class="footer-content-title">
                            <h3>ساعات کاری</h3>
                        </div>
                        <ul class="footer-details footer-time">
                            <li>شنبه: <span>08:00 - 23.00</span></li>
                            <li>یک شنبه: <span>08:00 - 23.00</span></li>
                            <li>دوشنبه: <span>08:00 - 21.00</span></li>
                            <li>سه شنبه: <span>09:00 - 23.00</span></li>
                            <li>چهارشنبه: <span>08:00 - 23.00</span></li>
                            <li>پنج شنبه: <span>08:00 - 23.00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="footer-lower-item">
                    <div class="footer-copyright-text footer-copyright-text-red">
                        <p>تمامی حقوق برای کافه به لیمو محفوظ است. طراحی شده توسط: تیم ققنوس</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>