{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="welcome-section bg-overlay-1 pt-100 pb-70 bg-black">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-5 col-lg-5 pb-30">
                <div class="section-title section-title-left text-center text-md-start m-0">
                    <small>به کافه خوش آمدید</small>
                    <h2 class="color-white"> کمی درباره ما</h2>
                    <p style="text-align: justify;">{{aboutus.text}}</p>
                    <a href="{% url 'contactus' %}" class="btn btn-icon">
                     تماس با ما
                        <i class="flaticon-right-arrow-sketch-1"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="about-image-grid">
                    <div class="about-image-grid-item">
                        <div class="about-image-grid-inner mb-30">
                            <img src="{% static 'images/welcome-image-1.jpg' %}" alt="welcome">
                        </div>
                        <div class="about-image-grid-inner mb-30">
                            <img src="{% static 'images/welcome-image-2.jpg' %}" alt="welcome">
                        </div>
                    </div>
                    <div class="about-image-grid-item">
                        <div class="about-image-grid-inner fluid-height">
                            <img src="{% static 'images/welcome-image-3.jpg' %}" alt="welcome">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="video-section p-tb-100">
    <div class="container">
        <div class="video-button">
            <a href="https://www.youtube.com/watch?v=h_YmYLYi65k" id="video-popup"><i class="flaticon-play-button"></i></a>
        </div>
    </div>
</div>

<section class="service-section p-tb-100 bg-black">
    <div class="container-fluid">
        <div class="bg-main bg-overlay-transparent contain-box">
            <div class="container">
                <div class="section-title">
                    <h2 class="color-white">مراحل رزرو غذا در  کافه به لیمو چگونه است</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
                        <div class="service-item">
                            <div class="service-image">
                                <img src="{% static 'images/service-1.jpg' %}" alt="service">
                            </div>
                            <div class="service-content">
                                <h3>مرحله اول</h3>
                                <p>ابتدا از لیست محصولات غذای مورد نظر را انتخاب کنید .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
                        <div class="service-item">
                            <div class="service-image">
                                <img src="{% static 'images/service-2.jpg' %}" alt="service">
                            </div>
                            <div class="service-content">
                                <h3>مرحله دوم</h3>
                                <p>پرداخت خود را کامل کنید و میز مورد نظر را انتخاب کنید .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 pb-30 offset-md-3 offset-lg-0">
                        <div class="service-item">
                            <div class="service-image">
                                <img src="{% static 'images/service-3.jpg' %}" alt="service">
                            </div>
                            <div class="service-content">
                                <h3>مرحله سوم</h3>
                                <p>غذای شما آماده است .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-section p-tb-100 bg-black">
    <div class="container position-relative">
        <div class="section-title">
            <small>گالری تصاویر</small>
            <h2 class="color-white">بهترین عکس های مارا ببینید</h2>
        </div>
        <div class="gallery-grid">
            <div class="gallery-grid-item">
                <a href="{% static 'images/gallery-lg-1.html' %}" title="Gallery 1"><img src="{% static 'images/gallery-1.jpg' %}" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="{% static 'images/gallery-lg-2.html' %}" title="Gallery 2"><img src="{% static 'images/gallery-2.jpg' %}" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="{% static 'images/gallery-lg-3.html' %}" title="Gallery 3"><img src="{% static 'images/gallery-3.jpg' %}" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="{% static 'images/gallery-lg-4.html' %}" title="Gallery 4"><img src="{% static 'images/gallery-4.jpg' %}" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="{% static 'images/gallery-lg-5.html' %}" title="Gallery 5"><img src="{% static 'images/gallery-5.jpg' %}" alt="gallery"></a>
            </div>
        </div>
        <div class="bg-shape">
            <div class="bg-shape-item">
                <img src="{% static 'images/shape-1.png' %}" alt="shape">
            </div>
            <div class="bg-shape-item">
                <img src="{% static 'images/shape-3.png' %}" alt="shape">
            </div>
            <div class="bg-shape-item">
                <img src="{% static 'images/shape-2.png' %}" alt="shape">
            </div>
        </div>
    </div>
</section>


{% endblock content %}
</body>

</html>