	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/11/2020 09:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}


.flaticon-new-آدرس ایمیل:before { content: "\f100"; }
.flaticon-global-shipping:before { content: "\f101"; }
.flaticon-login:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-line-chart:before { content: "\f104"; }
.flaticon-listen:before { content: "\f105"; }
.flaticon-heart:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }
.flaticon-drop-down-arrow:before { content: "\f108"; }
.flaticon-shop-bag:before { content: "\f109"; }
.flaticon-shopping-cart:before { content: "\f10a"; }
.flaticon-eye:before { content: "\f10b"; }
.flaticon-placeholder:before { content: "\f10c"; }
.flaticon-logistics:before { content: "\f10d"; }
.flaticon-payment-method:before { content: "\f10e"; }
.flaticon-fabric:before { content: "\f10f"; }
.flaticon-return-of-investment:before { content: "\f110"; }
.flaticon-right-arrow:before { content: "\f111"; }
.flaticon-instagram:before { content: "\f112"; }
.flaticon-globe:before { content: "\f113"; }
.flaticon-box:before { content: "\f114"; }
.flaticon-user:before { content: "\f115"; }
.flaticon-next:before { content: "\f116"; }
.flaticon-left-arrow-1:before { content: "\f117"; }
.flaticon-shopping-cart-1:before { content: "\f118"; }
.flaticon-question:before { content: "\f119"; }
.flaticon-calendar:before { content: "\f11a"; }
.flaticon-stick-man:before { content: "\f11b"; }
.flaticon-book:before { content: "\f11c"; }
.flaticon-telephone:before { content: "\f11d"; }
.flaticon-envelope:before { content: "\f11e"; }
.flaticon-paper-plane:before { content: "\f11f"; }
.flaticon-grid:before { content: "\f120"; }
.flaticon-list:before { content: "\f121"; }
.flaticon-visibility:before { content: "\f122"; }
.flaticon-delivery-truck:before { content: "\f123"; }
.flaticon-credit-card:before { content: "\f124"; }
.flaticon-sync:before { content: "\f125"; }
.flaticon-geolocation:before { content: "\f126"; }
.flaticon-phone-call:before { content: "\f127"; }
.flaticon-آدرس ایمیل:before { content: "\f128"; }
.flaticon-user-1:before { content: "\f129"; }
.flaticon-checklist:before { content: "\f12a"; }
.flaticon-shopping-bag:before { content: "\f12b"; }
.flaticon-up-arrow:before { content: "\f12c"; }
.flaticon-facebook:before { content: "\f12d"; }
.flaticon-twitter:before { content: "\f12e"; }
.flaticon-linkedin:before { content: "\f12f"; }
.flaticon-youtube:before { content: "\f130"; }
.flaticon-instagram-1:before { content: "\f131"; }
.flaticon-clock:before { content: "\f132"; }
.flaticon-placeholder-1:before { content: "\f133"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f134"; }
.flaticon-smartphone-call:before { content: "\f135"; }
.flaticon-supermarket-basket:before { content: "\f136"; }
.flaticon-shopping-cart-black-shape:before { content: "\f137"; }
.flaticon-left-black-arrow:before { content: "\f138"; }
.flaticon-download-to-storage-drive:before { content: "\f139"; }
.flaticon-star-1:before { content: "\f13a"; }
.flaticon-right-quotation-mark:before { content: "\f13b"; }
.flaticon-man-user:before { content: "\f13c"; }
.flaticon-calendar-1:before { content: "\f13d"; }
.flaticon-playstore:before { content: "\f13e"; }
.flaticon-user-2:before { content: "\f13f"; }
.flaticon-email-1:before { content: "\f140"; }
.flaticon-add:before { content: "\f141"; }
.flaticon-cancel:before { content: "\f142"; }
.flaticon-sketched-arrow-pointing-down:before { content: "\f143"; }
.flaticon-add-user:before { content: "\f144"; }
.flaticon-loupe:before { content: "\f145"; }
.flaticon-down-arrow:before { content: "\f146"; }
.flaticon-right-arrow-2:before { content: "\f147"; }
.flaticon-menu-1:before { content: "\f148"; }
.flaticon-right-arrow-sketch-1:before { content: "\f149"; }
.flaticon-left-arrow-2:before { content: "\f14a"; }
.flaticon-right-arrow-3:before { content: "\f14b"; }
.flaticon-play-button:before { content: "\f14c"; }
.flaticon-star-2:before { content: "\f14d"; }
.flaticon-star-half-empty:before { content: "\f14e"; }